body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f7f2;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .header {
    position: relative;
    text-align: center;
    padding: 10px 15px;
}

.logo img {
    max-height: 100px;
}

@media (max-width: 389px) {

    .logo img {
        height: 75px;
    }
}
  
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #e0ddd5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }
  
  h1, h2 {
    color: #2c3e50;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  
  p, ul {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  ul {
    padding-left: 1.5rem;
  }
  
  .email {
    color: #007bff;
    font-weight: bold;
  }
  
  .highlight {
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: white;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
  
    .footer {
      padding: 20px 0;
  
    }
    .footer-links {
      flex-direction: column; /* Stack links vertically */
      gap: 10px;
      padding: 5px 0;
    }
  
    .footer-links a {
      font-size: 1.1rem; /* Larger text for easier readability */
      margin-bottom: 10px;
      text-decoration: underline;
    }
  
    .footer p {
      font-size: 1rem; /* Larger text for easier readability */
      margin-bottom: 20px;
    }
  
    .social-icons img {
      width: 42px; /* Slightly larger for mobile */
      height:42px;
      margin: 0 35px;
    }
  
    .footer span {
      display: none;
    }
  }