body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(to bottom, #ffffff 0%, #e6f7ff 100%);
    height: 100vh;
    margin: 0;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
    opacity: 1;
    /* Fully visible */
    transform: translateY(0);
    /* Reset position */
}

.changeTheme {
    background: linear-gradient(to bottom, #1D1E22 0%, #2C2F33 100%);

    .box-programmes,
    .box-coaching {
        background-color: #282A36;
        color: #FFFFFF;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    }

    .box-programmes,
    .box-coaching,
    p {
        color: #EAEAEA;
    }

    .box-programmes.button-like:hover {
        background-color: #3A3F48;
    }
    
    .box-programmes.button-like:active {
        background-color: #2C3037;
    }
    
    
    .box-coaching.button-like:hover {
        background-color: #3A3F48;
    }
    
    .box-coaching.button-like:active {
        background-color: #2C3037;
    }

}

.header {
    position: relative;
    text-align: center;
    padding: 10px 15px;
}

.logo img {
    max-height: 100px;
}

.dark-mode-button {
    position: absolute;
    top: 25px;
    right: 20px;
}

.dark-mode-button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

@media (min-width: 768px) {

    .flex-container {
        display: flex;
        gap: 80px;
        justify-content: center;
    }

    .container {
        margin-top: 80px;
        margin: 100px auto;
    }

}

.box-programmes,
.box-coaching {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    min-height: 150px;
    cursor: pointer;
    margin: auto auto 50px auto;
}

.box-programmes.button-like:hover {
    background-color: #d9d9d9;
}

.box-programmes.button-like:active {
    background-color: #8c8c8c;
}


.box-coaching.button-like:hover {
    background-color: #d9d9d9;
}

.box-coaching.button-like:active {
    background-color: #8c8c8c;
}

.container {

    margin: auto;
    padding: 20px;
    width: 90%;

}

h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    color: #333;
}

.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: white;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}